a {
  text-decoration: none;
}

a:link{
  color: #37c;
}

a:visited{
  color: brown;
}
a:active{
	color: hotpink;
}
a:hover{
	color: #5e9516;
}

p {
  color: rgba(61, 60, 60, 0.733);
  font-weight: 500;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#logo {
  text-align: center;
  margin: 0;
} 

/* 
  Header style: 
  Change the general style of the header
*/
header {
  background: #6ab47b;
  color: #599a68;
  float: left;
  margin: 0 0 20px;
  padding: 0;
  width: 100%;
}
/* 
Style the heading of the page
Change text color to white
*/

h1{
  color: #fff;
  font-family: 'Changa One', sans-serif;
  margin: 20px 0;
  font-size: 1.75em; 
  font-weight: normal;
}

h3{
  font-family: 'Changa One', sans-serif;
  font-weight: normal;
  font-size: 1.6em;
  margin: 0 0 1em 0;
  color: #37c;
}

/* 
  Navigation style: 
  Change background color and text color
*/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  width: 100%;
}

nav a, nav a:visited, nav a:link {
  color: #fff;
}

nav a:hover{
  color: #000;
}

nav ul{
  list-style: none;
  margin: 5px 0px 20px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

nav li{
  display: inline-block;
  font-weight: 800;
  padding: 0 10px;
}

/* 
  Site body style: 
  Change background color and text color
*/
body {
  background-color: #fff;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

/*
  Footer style
*/

footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

footer a img{
  width: 10%;
}

/***************************
PAGE: ABOUT
***************************/


.profile-picture{
  display: block;
  max-height: 300px;
  margin: 0 auto 30px;
  border-radius: 30%;
}

#aboutSection h3 {
  text-align: center;
}

#aboutSection p {
  margin: 0 0 1em;
  font-size: 0.9em;
}

/***************************
PAGE: CONTACT
***************************/

.contact-info{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info li.mail a{
  background-image: url('../Image/icon/mail.png')
}

.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

#primary {
  margin: 25px 0px;
  float: left;
}

#secondary {
  float: left;
  margin: 25px 0px;
}
