a {
  text-decoration: none;
}

a:link{
	color: #599a68;
}
a:visited{
  color: gray;
}
a:active{
	color: hotpink;
}
a:hover{
	color: gray;
}

p {
	color: black;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

#logo {
  text-align: center;
  margin: 0;
} 

/* 
  Header style: 
  Change the general style of the header
*/
header {
  background: #6ab47b;
  color: #599a68;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* 
Style the heading of the page
Change text color to white
*/

h1{
  color: #fff;
  font-family: 'Changa One', sans-serif;
  margin: 20px 0;
  font-size: 1.75em; 
  font-weight: normal;
}

/* 
  Navigation style: 
  Change background color and text color
*/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0
}

nav a, nav a:visited{
  color: #fff;
}

nav a:hover{
  color: #000;
}

nav ul{
  list-style: none;
  margin: 5px 10px 20px 10px;
  padding: 0;
}

nav li{
  display: inline-block;
  font-weight: 800;
  padding: 0 10px;
}

/* 
  Site body style: 
  Change background color and text color
*/
body {
  background-color: #fff;
  color: #999;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

/*
  Footer style
*/

footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

footer a img{
  width: 10%;
}

/***************************
PAGE: PORTFOLIO
***************************/

/*
   Image fit with the browser
*/
img {
  max-width: 100%;
}
#githubSymbol {
 padding: 0;
 margin: 0;
 list-style: none;
}

#githubSymbol a img{
  margin: 10px 25%;
  width: 50%;
}

#githubSymbol p{
  margin: 0 0;
  text-align: center; 
  font-size: 1.5em;
  color: #000;
}
#tapHeroPicture{
  padding: 0;
  clear: right;
}
#tapHeroPicture img{
  width: 65%;
  margin: 10px 18%;
}

#tapHeroPicture p{
  margin: 20px 0;
  text-align: center;
  font-size: 1.5em;
  color: #000;
}

/***************************
PAGE: ABOUT
***************************/


.profile-picture{
  display: block;
  max-height: 300px;
  margin: 0 auto 30px;
  border-radius: 30%;
}

h3{
  margin: 0 0 1em 0;
}


/***************************
PAGE: CONTACT
***************************/

.contact-info{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info li.mail a{
  background-image: url('../Image/icon/mail.png')
}

.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}
