/*
Apply this type of CSS if the width is at 490px
*/
@media screen and (min-width: 490px){
  /***************************
  THE COLUME LAYOUT
  ***************************/
  
  #primary{
    margin: 0 5%;
    float: left;
    width: 50%;
  }
  
  #secondary{
    margin: 0;
    float: right;
    width: 40%;
  }

  /***************************
  Experience Page
  ***************************/
  .company-logo {
    float: left;
    width: 40%;
  }

  .job-description {
    float: right;
    width: 60%;
  }
  
  /***************************
  Porfolio Page
  ***************************/
  .picture-section {
    float: left;
    width: 40%;
  }

  .project-description {
    float: right;
    width: 60%;
    height: 50%;
    padding: 10% 0 40%;
  }
  
  /***************************
  About Page
  ***************************/
  
  .profile-picture{
    float: left;
    margin: 0 5% 20% 0;
  }
}

@media screen and (min-width: 680px){
  /***************************
  HEADER
  ***************************/
  
  nav {
    background: none;
    float: right;
    text-align: right;
    margin-right: 5%;
    width: 60%;
    font-size: 1.125em;
  }

  nav ul {
    width: 100%
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 30%;
  }
  
  h1{
    font-size: 2.5em;
  }
  
  h2{
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header{
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }

  #primary{
    margin: 0 5%;
    float: left;
    width: 60%;
  }
  
  #secondary{
    margin: 0;
    float: right;
    width: 30%;
  }

}
