/*
Apply this type of CSS if the width is smaller than 480px
*/
@media screen and (min-width: 490px){
  /***************************
  THE COLUME LAYOUT
  ***************************/
  
  #primary{
    float: left;
    width: 60%;
  }
  
  #secondary{
    float: right;
    width: 30%;
  }
  
  /***************************
  Porfolio Page
  ***************************/
  #githubSection{
    float: right;
    width: 40%;
  }
  #githubDescription{
    float: left;
    width: 60%;
  }
  #githubSymbol a img{
     margin: 10px 33%;
  }
 
  #githubSymbol p{
    padding: 0 15%; 
  }
  #tapHeroPicture{
    float: right;
    width: 40%;
  }
  
  /***************************
  About Page
  ***************************/
  
  .profile-picture{
    float: left;
    margin: 0 5% 20% 0;
  }
}

@media screen and (min-width: 680px){
  /***************************
  HEADER
  ***************************/
  
  nav {
    background: none;
    float: right;
    text-align: right;
    margin-right: 5%;
    width: 45%;
    font-size: 1.125em;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1{
    font-size: 2.5em;
  }
  
  h2{
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header{
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }
}
